.input-field {
    display: block;
    margin: 0 auto;
    width: 1350px;
    height: 300px;
    resize: none;
    font-size: 24px;
    border: 5px solid black;
    border-radius: 10px;
}

.keys-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 1350px;
    height: 550px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    background-color: #888888;
    margin: 20px auto;
}

.keys-wrapper > div {
    margin: 5px;
    border-radius: 5px;
}

.keys {
    width: 80px;
    height: 80px;
    background-color: #444444;
}

.keys:hover {
    cursor: pointer;
}

.keys:active {
    animation: shake 0.25s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(3px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-5px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(5px, 0, 0);
    }
  }

.highlight {
    background-color: chartreuse;
}

.keys:nth-child(14) {
    width: 170px;
    background-color: #000000;
}

.keys:nth-child(15) {
    width: 100px;
    background-color: #000000;
}

.keys:nth-child(29) {
    width: 60px;
    background-color: #000000;
}

.keys:nth-child(30) {
    width: 170px;
    background-color: #000000;
}

.keys:nth-child(42) {
    width: 170px;
    background-color: #000000;
}

.keys:nth-child(43) {
    width: 170px;
    background-color: #000000;
}

.keys:nth-child(55) {
    background-color: #000000;
}

.keys:nth-child(56) {
    background-color: #000000;
}

.keys:nth-child(57) {
    width: 100px;
    background-color: #000000;
}

.keys:nth-child(58) {
    background-color: #000000;
}

.keys:nth-child(59) {
    background-color: #000000;
}

.keys:nth-child(60) {
    width: 580px;
}

.keys:nth-child(61) {
    background-color: #000000;
}

.keys:nth-child(62) {
    width: 100px;
    background-color: #000000;
}

.keys:nth-child(63) {
    background-color: #000000;
}

.keys:nth-child(64) {
    background-color: #000000;
}

.keys:nth-child(65) {
    background-color: #000000;
}

.change-language {
    bottom: 450px;
    position: absolute;
    display: block;
    width: 250px;
    font-size: 34px;
    color: grey;
    text-align: center;
    margin: 0;
    font-weight: bold;
    animation: blur 3s ease 0s infinite;
}

@keyframes blur {
    50%,
    90% {
      filter: blur(0px);
    }
    70% {
      filter: blur(50px);
    }
  }

.stop-blur-animation {
    animation: none;
}

.inner-text {
    padding-top: 10px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

.caps-lock {
    text-transform: uppercase;
}

.shift {
    text-transform: uppercase;
}

.evaluation-button {
    padding-top: 50px;
    cursor: pointer;
    width: 250px;
    height: 100px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    bottom: 330px;
}

.selected {
    background-color: green;
}

.body {
    text-align: center;
    user-select: none;
    width: 1920px;
    height: 100%;
    margin: 20px auto 0 auto;
    background-color: lightgray;
}